{% include 'head.html' %}
<body>

  <nav class="navbar navbar-expand-md   shadow">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" href="../">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../routes/">Routes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../add_route/">Add route</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../add_region/">Add region</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../add_company/">Add company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../add_car/">Add car</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">About us</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
<div class="container">
    <h1 style="text-align:center">About us</h2>
    <p>
  
Msafiri is a Tanzania's system for bus tickets and management . We offer services that enable bus operators and travelers to do everything online. passengers can get their travelling tickets while at home, offices and anywhere across the country. <br><br>
We provide easiest online bus ticketing system to bus operators, counter ticketing system, system allows travelers to book bus tickets through their smartphones, tablets and computers. <br><br>
When you book with Msafiri, you get a real time access to bus tickets directly from major bus operator because we host the counter ticketing system to their office and we are their technology partner. <br><br>
We aim to revolutionize transportation industry by enabling bus operators to automate their company operational activities which in turn reduces their operational cost, save time, booking open for 24X7 and receive payment directly to their account once booking done. <br><br>
Booking a bus ticket from anywhere made possible by us by just simply visit on to Msafiri website. <br><br>
Msafiri Help page is available 24x7 and happy to help your ticket booking process or attend to any of your issue. <br><br>

    </p>
  </div>

</body>
</html>